<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<META NAME="description" CONTENT="Michelle J Norton: Writer, Web Designer and Painter of Things.">
		<META HTTP-EQUIV="Window-target" CONTENT="_top">
		<META NAME="Author" CONTENT="Michelle J Norton">
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src=""></script>

	</head>
	<body>
		<header>
			<nav>
			</nav>
		</header>
		<section>
		</section>
		<footer>
		</footer>
	</body>
</html>